* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #14121d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px 50px 20px 50px;
    border-radius: 10px;
    border: 3px solid #c3dee5;
}



text {
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #c3dee5;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c3dee5;
}

p {
    text-align: center;
    margin-top: 15px;
    color: #c3dee5;
    font-size: 12px;
}


.trans {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 0.5px solid #c3dee5;
    color: #e2eef1;
    padding: 0 5px 4px 5px;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #c3dee5;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color: #4170c8;
}

